:host{
  width: 100%;
  /*display: flex;*/
  /*justify-content: center;*/
  height: 30%;
}

.chooseFile{
  margin-bottom: 1rem;
}

.upload-container {
  display: flex;
  flex-direction: column;
  color: white;
  width: 80%;
}

.title-text{
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.title {
  padding: 10px 10px;
  text-align: center;
  /*border-bottom: 1px solid black;*/
}


